* {
    box-sizing: border-box;
  }
  body {
    font-family: Roboto;
    margin: 0 36px;
    background-color: hsl(0, 0%, 100%);
  }

  grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }

  grid > column[span="row"] {
    grid-column-start: 1;
    grid-column-end: -1;
    /* grid-column: 1 / -1; */
  }

  /* grid > column {
    overflow: hidden;
  } */

  /* column[span="1"] {
    grid-column-end: span 1;
  } */
  
  
  a[class^="disc-link__"] {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    display: block;
    position: relative;
  }
  
  a[class^="disc-link__"] > [class^="my-cv-"] {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a[class^="disc-link__"] > [class^="my-cv-"]::before {
    font-size: 8vw;
  }
  .disc-link__onahau-dark {
    background-color: #CCE4FF;
  }

  .disc-link__granny-apple {
    background-color: #D4F5E2;
  }
  .disc-link__oasis {
    background-color: #FDEBCF;
  }
  .disc-link__onahau-light {
    background-color: #CCF5FF;
  }
  .disc-link__blue-chalk {
    background-color: #F1DEFF;
  }
  .disc-link__pastel-pink {
    background-color: #FFCCDB;
  }
  .disc-link__azalea {
    background-color: #FADBD8;
  }
  .disc-link__moon-raker {
    background-color: #DFDDF9;
  }
  .disc-link__white-ice {
    background-color: #D4F6F1;
  }
  .disc-link__janna {
    background-color: #F4E5D7;
  }
  .disc-link__double-pearl-lusta {
    background-color: #FCF3CF;
  }
  

  .main-title {
    height: 40px;
    margin: 0;
    font-size: 36px;
    text-align: center;
    color: hsl(0, 0%, 10%);
    
  }
  .second-title {
    height: 30px;
    margin: 0;
    font-size: 24px;
    text-align: center;
    color: hsl(0, 0%, 10%);
  }

  .section-title,
  .section-subtitle {
    height: 30px;
    margin: 0;
    color: hsl(0, 0%, 50%);
  }
  .section-title {
    font-size: 22px;
    color: #808080;
  }
  
  .section-subtitle {
    font-size: 20px;
    color: #808080;
  }
  
  .skills-button__torch-red {
    background-color: #FD004D;
  }
  .skills-button__shamrock {
    background-color: #2DD070;
  }
  .skills-button__buttercup {
    background-color: #F29E1A;
  }
  .skills-button__torch-red,
  .skills-button__shamrock,
  .skills-button__buttercup {
    height: 40px;
    padding: 0 24px;
    border-radius: 20px;
    border: 0;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-right: 8px;
    margin-bottom: 8px;
  }
  
  .skills-legend {
    background-color: hsl(0, 0%, 100%);
    border: 2px solid hsl(0, 0%, 94%);
    list-style-type: none;
    padding-left: 0;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px 0;
  }
  
  .skills-legend-item:not(:last-child) {
    border-bottom: 2px solid hsl(0, 0%, 94%);
  }
  
  .skills-legend-item:hover {
    background-color: hsl(0, 0%, 98%);
  }
  
  .skills-legend-item > span[class^="my-cv-heart"] {
    color: #FE004E;
  }
  .skills-legend-item > span[class^="my-cv-trophy"] {
    color: #2DD070;
  }
  .skills-legend-item > span[class^="my-cv-book"] {
    color: #F29E1A;
  }
  
  .skills-legend-item > span[class^="my-cv-"] {
    display: inline-flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
  }
  
  
  .skills-legend-item {
    height: 52px;
    line-height: 32px;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .skills-legend-item {
    height: 52px;
    line-height: 32px;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .legend-count {
    padding-right: 20px;
  
  }
  
  .legend-description {
    padding: 0 10px;
    flex-grow: 1;
  }
  
  .skills-list-last,
  .skills-list {
    padding-top: 20px;
  }
  
  .skills-list {
    padding-bottom: 20px;
  }
  
  column[height="30"] {
    height: 30px;
  }
  
  .box-shadow {
    background-color: #FAFAFA;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  }
  
  .text-description {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    color:#808080;
  }
  
  .button__attention {
    background-color: #FE004E;
    color: white;
    height: 40px;
    padding: 0 24px;
    border-radius: 20px;
    border: 0;
    font-size: 12p;
    font-weight: bold;
  }
  
  
  .button-disc__info {
    background-color: #2DD070;
    color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 0;
    font-size: 18px;
  }
  
  .text-centered {
    text-align: center;
  }
  
  .avatar {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #808080;
    /* padding-top: 100%;
    background-position-x: -120px;
    background-image: url(/image/avatar-mihaela.jpg);
    background-size: cover;
    transform: rotate(-90deg); */
  }
  
  .image-wrapper {
  border-radius: 6px;
  padding: 8px 8px 4px;
  border: 1px solid #808080;
  margin-bottom: 10px;
  }
  .my-cv-codetap .path1:before {
    font-style: normal;
    font-size: 8vw;
    content: "\e903";
    /* color: rgb(68, 68, 68); */
    color: #d52027;
  }
  .my-cv-codetap .path2:before {
    font-style: normal;
    font-size: 8vw;
    content: "\e904";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .my-cv-codetap .path3:before {
    font-style: normal;
    font-size: 8vw;
    content: "\e905";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .my-cv-codetap .path4:before {
    font-style: normal;
    font-size: 8vw;
    content: "\e906";
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .my-cv-codewars:before {
    content: "\e907";
  }
  .my-cv-facebook:before {
    content: "\e909";
  }
  .my-cv-github:before {
    content: "\e90a";
  }
  .my-cv-instagram:before {
    content: "\e90d";
  }
  .my-cv-linkedin:before {
    content: "\e90e";
  }
  .my-cv-skype:before {
    content: "\e90f";
  }
  .my-cv-stackoverflow:before {
    content: "\e910";
  }
  .my-cv-twitter:before {
    content: "\e912";
  }
  .my-cv-udemy:before {
    content: "\e913";
  }
  .my-cv-youtube:before {
    content: "\e914";
  }

